<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.furiousspheres">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Furious Spheres"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeiroJogo">
        <activity android:name="com.example.furiousspheres.GameActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape" />
        <activity android:name="com.example.furiousspheres.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>